/* html {
  font-size: calc(100vw / 3.75);
} */
html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  /* font-size: 0.28rem; */
  font-family: Microsoft Yahei, SimSun, Helvetica;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-user-select: none;
  user-select: none; /*禁止ios和android用户选中文字*/
}
